  <footer>
  {{ partial "foot_custom.html" . }}
  <hr/>
  <p class="site-footer">
    &copy; Miao Zhang 2022 &ndash; {{ now.Year }}
    &ensp;
    <a href="https://github.com/ZenMule" title="GitHub" class="social-icon-link"><i class="fa-brands fa-github"></i></a>
    <a href="https://x.com/Miao_Zhang_dr" title="X" class="social-icon-link"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://huggingface.co/zenmule" title="HuggingFace" class="social-icon-link hf-icon">🤗</a>
    <a href="https://orcid.org/0000-0002-9984-4486" title="ORCiD" class="social-icon-link"><i class="fa-brands fa-orcid"></i></a>
  </p>
  </footer>
  </body>
</html>
